.menu {
  margin: 0;
  position: relative;
}

.menu-item {
  text-decoration: none;
  font-size: 1em;
  color: black;
  padding: 6% 2% 0 2%;
  margin-bottom: 0;
}

.page-name-box {
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 5% 0 0 0;
  border-bottom: 1em solid #E6E6E6;
  margin: 0 0 -1.5em 0;
  font-size: 1.6em;
}

.page-name {
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 0;
}

.my-logo-bg {
  background: black;
  position: relative;
  border-bottom: 1em solid white;
  float: right;
  margin: 0;
  z-index: 2;
}

.my-logo {
  padding: 13% 0 2% 0;
  color: white;
  text-align: center;
}

.grey-bg {
  background-color: #E6E6E6;
}

.project-left {
  margin: 3% auto 3% -5%;
  background-color: white;
}

.project-img-left {
  width: 100%;
  position: relative;
  margin-left: 6.6%;
  float: left;
  border-top: 1em solid white;
  border-bottom: 1em solid white;
}

.project-text-box-left {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin-top: 37%;
}

.project-title-left {
  margin-top: 15%;
}

.project-text-left {
  margin-top: -10%;
}

.project-right {
  position: relative;
  float: right;
  margin: 3% -5% 3% auto;
  background-color: white;
}

.project-text-box-right {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin-top: 38%;
}

.project-title-right {
 margin-top: 4%;
}

.project-text-right {
  margin-top: -10%;
}

.project-img-right {
  width: 100%;
  position: relative;
  margin-right: 6.6%;
  float: right;
  border-top: 1em solid white;
  border-bottom: 1em solid white;
}

footer {
  margin: 0;
  padding: 1% 5%;
  position: relative;
  background-color: #E6E6E6;
  z-index: 5;
}
