@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: #E6E6E6;
    margin: 0;
  }

  main {
    margin: 15% 5% 0 5%;
    padding-top: 5%;
  }

  .project-mobile {
    width: 100%;
    margin: 3% auto;
    background-color: white;
  }

  .project-img-mobile {
    width: 90%;
    position: relative;
    margin-left: 8%;
    margin-right: 0;
    float: left;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
  }

  .project-text-box-mobile {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  width: 20%;
  position: absolute;
  z-index: 2;
  margin-top: 38%;
  }

  .project-title-mobile {
    margin-top: -43%;
    font-size: 2em;
  }

  .project-text-mobile {
    margin-top: -11%;
    font-size: 1.3em;
  }

  .project-text-right-box-mobile {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 20%;
    position: absolute;
    z-index: 2;
    margin-top: 43%;
  }

  .project-title-right-mobile {
    margin-top: -43%;
    font-size: 2em;
  }

  .project-text-right-mobile {
    margin-top: -13%;
    font-size: 1.3em;
  }
}
