@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    margin: 0;
  }

  main {
    margin: 15% 0 0 0;
  }

  .contact  {
    margin-top: 5%;
    position: relative;
    z-index: 1;
  }

  .contact-img-box {
    position: relative;
    margin: 8% 0;
    border-top: 1.2em solid white;
    border-bottom: 1.2em solid white;
  }

  .contact-img {
    display: none;
  }

  .contact-img-mobile {
    display: block;
    width: 100%;
  }

  .contact-line-box {
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 2;
    margin: 4% 5%;
    border: .3em solid white;
  }

  .contact-text-box {
    width: 60%;
    height: 100%;
    float: right;
    background-color: white;
    padding: 5% 7%;
  }

  .contact-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
    margin: 0;
  }

  .contact-text {
    font-size: 2.1em;
    margin-top: 3%;
  }

  .contact-icon-box {
    width: 100%;
    margin: 3% 0 29% 0;
    background-color: white;
    text-align: center;
  }

  .contact-icon {
    width: 12%;
    margin: 4%;
  }

}
