.contact {
  margin: 0;
}

.contact-img-box {
  position: relative;
  margin: 3% 0;
  border-top: 1em solid white;
  border-bottom: 1em solid white;
}

.contact-img {
  display: block;
  width: 100%;
}

.contact-img-mobile {
  display: none;
}

.contact-line-box {
  height: 80%;
  position: absolute;
  z-index: 2;
  margin: 4% 8%;
  border: .2em solid white;
}

.contact-text-box {
  height: 100%;
  float: right;
  background-color: white;
  padding: 5% 6%;
}

.contact-title {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

.contact-icon-box {
  width: 100%;
  margin-left: 0;
  background-color: white;
  text-align: center;
}

.contact-icon-box a {
  text-decoration: none;
}

.contact-icon {
  width: 5%;
  margin: 1%;
}

.contact-icon:hover {
  padding: .5%;
  border: .1em solid black;
  transition: 0.2s;
}
