.page-name-box {
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 7.7% 0 2% 0;
  border-bottom: 1em solid #E6E6E6;
  margin: -9% 0 -1.5em 0;
}

.page-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  color: black;
  margin: 0;
}

.grey-bg {
  background-color: #E6E6E6;
}

.contact {
  margin: 0;
}

.contact-img-box {
  position: relative;
  margin: 3% 0;
  border-top: 1em solid white;
  border-bottom: 1em solid white;
}

.contact-img {
  display: block;
  width: 100%;
}

.contact-img-mobile {
  display: none;
}

.contact-line-box {
  height: 80%;
  position: absolute;
  z-index: 2;
  margin: 4% 8%;
  border: .2em solid white;
}

.contact-text-box {
  height: 100%;
  float: right;
  background-color: white;
  padding: 5%;
}

.contact-title {
  text-align: left;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.contact-icon-box {
  width: 100%;
  margin-left: 0;
  background-color: white;
  text-align: center;
}

.contact-icon {
  width: 5%;
  margin: 1%;
}
