.page-name-box {
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 7.7% 0 2% 0;
  border-bottom: 1em solid #E6E6E6;
  margin: -9% 0 -1.5em 0;
}

.page-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  color: black;
  margin: 0;
}

.grey-bg {
  background-color: #E6E6E6;
}

.contact-img-box {
  margin-left: 0;
}

.contact-img {
  width: 100%;
}

.contact-icon {
  width: 6%;
}
