@media only screen and (min-width: 320px) and (max-width: 780px) {
  body {
    margin: 0;
  }

  main {
    margin: 12rem 0 0 0;
  }

  .intro {
    margin-top: 0;
    position: relative;
    z-index: 1;
  }

  .intro-img {
    display: none;
  }

  .intro-img-mobile {
    display: block;
    width: 100%;
  }

  .intro-title-container {
    width: 45%;
    margin-top: 6rem;
    border-top: 0.25em solid white;
    border-left: 0.25em solid white;
    border-bottom: 0.25em solid white;
  }

  .intro-title-bg {
    margin: 2rem auto 2rem 2rem;
    padding: 2rem 0 2rem 3rem;
  }

  .intro-title {
    font-size: 5rem;
  }

  .margin-top {
    margin-top: 6rem;
  }

  .ui-title {
    width: 50%;
    padding-bottom: 0.2rem;
    margin: 5rem auto 2rem 0;
    font-size: 2.8rem;
  }

  .web-mobile-img-box {
    width: 55%;
    padding: 0 3rem 0 0;
  }

  .web-mobile-title {
    font-size: 5rem;
    line-height: 5rem;
    padding: 2rem 0 2rem 0;
  }

  .web-mobile-text {
    margin: 0;
    padding-bottom: 2rem;
    font-size: 2.8rem;
  }

  .mobile-img-box-1 {
    width: 100%;
    margin-top: 2rem;
  }

  .mobile-img-box-2 {
    width: 45%;
    margin: 12rem 0 0 0;
  }

  .print-brand-box {
    padding: 0;
  }

  .print-brand-text-box {
    width: 55%;
    padding: 0 3rem 0 0;
  }

  .print-brand-title {
    width: 70%;
    font-size: 5rem;
    line-height: 5rem;
    padding: 2rem 0 2rem 0;
  }

  .print-brand-text {
    margin: 0;
    padding-bottom: 2rem;
    font-size: 2.8rem;
  }

  .brand-img-box-1 {
    width: 45%;
    margin: 3rem 0 0 0;
  }

  .footer-text {
    width: 50%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
  }

  .footer-icon-box {
    width: 50%;
  }

  .footer-icon {
    width: 5rem;
    margin:1.5rem 0 1.5rem 5rem;
    text-align: center;
  }
}
