.current-page-desktop {
  border-bottom: 0.06rem solid  #404040;
}

.intro {
  margin: 0;
  position: relative;
}

.intro-img-mobile {
  display: none;
}

.intro-img-container {
  z-index: 1;
  position: absolute;
}

.intro-img {
  width: 100%;
}

.intro-title-container {
  position: relative;
  margin-top: 3.5rem;
  border-top: 0.1em solid white;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  float: right;
  z-index: 3;
}

.intro-title-bg {
  text-decoration: none;
  background-color: white;
  margin: 3% auto 3% 3%;
  padding: 3% 0 3% 7%;
}

.intro-title {
  width: 50%;
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 90%;
  font-size: 3.6em;
  margin: 0;
}

.ui-title {
  margin: 5rem auto 0.2rem 0;
  padding-left: 5rem;
  border-bottom: 0.06rem solid #A6A6A6;
  font-size: 1rem;
  font-weight: normal;
  color: grey;
}

.ui-content {
  padding: 1rem 5rem;
}

.web-img-box {
  margin: 0;
}

.web-img {
  width: 100%;
}

.web-mobile-img-box {
  padding: 0 1.2rem;
  margin: 0;
}

.web-mobile-title {
  width: 70%;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: grey;
  margin: 0;
}

.web-mobile-title span {
  color: black;
}

.web-mobile-text {
  margin: 1rem 0 0 0;
}

.mobile-img-box-1 {
  margin-top: 1.5rem;
}

.mobile-img-1 {
  width: 100%;
}

.mobile-img-box-2 {
  margin: 0;
}

.mobile-img-2 {
  width: 100%;
}

.dd-title-box {
  border-bottom: 0.07rem solid grey;
  margin-top: 2rem;
}

.dd-title {
  margin: 3rem auto 0.2rem 5rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: grey;
}

.dd-content {
  padding: 1rem 5rem;
}

.print-img-box {
  margin: 0;
}

.print-img {
  width: 100%;
}

.print-brand-img-box {
  padding: 0 0 0 1.2rem;
  margin: 0;
}

.print-brand-title {
  width: 70%;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: black;
  margin: 0;
}

.print-brand-title span {
  color: grey;
}

.print-brand-text {
  margin: 1rem 0 0 0;
}

.brand-img-box-1 {
  margin-top: 1.5rem;
}

.brand-img-1 {
  width: 100%;
}
