.menu {
  margin: 5.5% 0 2% 0;
}

.menu-item {
  text-decoration: none;
  font-size: 1em;
  color: black;
  padding: 0 8% 3% 2%;
}

.my-logo-bg {
  background: black;
  border-left: 2em solid white;
  border-bottom: 2em solid white;
  position: relative;
  z-index: 3;
}

.my-logo {
  padding: 40% 0 2% 0;
  color: white;
  text-align: center;
}

.intro {
  margin: -7% 0 0 0;
  position: relative;
  z-index: 1;
}

.intro-img {
  width: 100%;
}

.intro-title {
  width: 80%;
  color: white;
  text-transform: uppercase;
  position: absolute;
  font-size: 200%;
  margin: -30% auto 0 5%;
  z-index: 3;
}

.web-title {
  margin-top: -25%;
  padding: 14% 5% 0 12% ;
  border-top: 0.8em solid white;
  border-right: 0.8em solid white;
  background-color: #E6E6E6;
  font-size: 250%;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.web-text {
  margin: 7% 0 0 0;
  padding: 15% 15% 50% 12%;
  background-color: #E6E6E6;
  position: relative;
  z-index: 4;
}

.web-img-box {
  margin: 2% 0 0 0;
}

.web-img {
  width: 100%;
  padding-left: 4%;
}

.mobile-img-box {
  margin: -20% 0 0 0;
  position: relative;
  z-index: 4;
}

.mobile-img {
  width: 100%;
  border-top: 2.2em solid white;
  border-right: 2.2em solid white;
  border-bottom: 2.2em solid white;
  margin: 0;
}

.mobile-text-box {
  position: relative;
  margin: 15% 0;
  padding: 5%;
  border: .1em solid black;
}

.mobile-title {
  text-align: left;
  text-transform: uppercase;
}

.logo-text-box {
  margin: 15% -8.5% auto 0;
  padding: 7%;
  border: .1em solid black;
  position: relative;
  z-index: 4;
}

.logo-title {
  text-align: left;
  padding-left: 1%;
  color: black;
  text-transform: uppercase;
}

.logo-text {
  color: black;
  padding: 1% 2% 1% 1%;
}

.logo-img-box {
  margin: 0;
  position: relative;
  z-index: 2;
}

.logo-img {
  width: 100%;
  border-left: 1em solid white;
}

.print {
  width: 100%;
  margin: 0;
  position: relative;
}

.print-img-box {
  margin: 2.5% 0;
  position: relative;
  display: inline-block;
  z-index: 3;
}

.print-img {
  width: 100%;
  margin: 0;
}

.print-text-box {
  margin: 15% 0 0 -5%;
  padding: 5% 6% 8% 8%;
  background-color: #E6E6E6;
  border-top: 2em solid white;
  border-left: 2em solid white;
  position: absolute;
  display: inline-block;
  z-index: 4;
}

.print-title {
  text-transform: uppercase;
}

.print-text {
  color: black;
}
