.menu-mobile-box {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .menu-and-header {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .menu-mobile-box {
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color: white;
    padding: 2% 5%;
    position: fixed;
    z-index: 8;
  }

  .menu-mobile-button {
    display: inline-block;
    width: 20%;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: white;
    margin: 2% 0;
  }

  .bar1, .bar2, .bar3 {
    width: 4em;
    height: .2em;
    background-color: #333;
    margin: .6em 0;
    transition: 0.4s;
  }

  .my-name-bg-mobile {
    display: inline-block;
    width: 45%;
    padding: 2%;
    border: .07em solid black;
    margin-top: 4%;
    position: relative;
    float: right;
  }

  .my-name {
    font-size: 2em;
  }
}

.menu-mobile {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.92;
  position: absolute;
  margin: 0;
  z-index: 7;
}

.menu-mobile-item-box {
  margin-top: 20%;
  padding: 10em;
}

.menu-mobile-item {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 8% 5% 0 3%;
  font-size: 4.5em;
  color: black;
  padding: 0 8% 2% 5%;
  border-bottom: .01em solid black;
  transition: width 2s;
}

.current-page {
  font-weight: bold;
}

.menu-mobile-item:active {
  font-weight: bold;
}

.show {display:block;}
