.menu-mobile-box {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 780px) {
  .menu-and-header {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 780px) {
  .menu-mobile-box {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 3rem 5rem;
    position: fixed;
    z-index: 8;
  }

  .menu-mobile-button {
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: white;
    float: right;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
      transform: rotate(-45deg) translate(-6px, 6px) ;
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
      transform: rotate(45deg) translate(-6px, -6px) ;
  }

  .my-name-bg-mobile {
    display: inline-block;
    position: relative;
    padding-top: 2rem;
  }

  .my-name {
    font-size: 3rem;
  }
}

.menu-mobile {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.95;
  position: absolute;
  margin: 0;
  z-index: 7;
}

.menu-mobile-item-box {
  margin-top: 12rem;
  padding: 10em;
}

.menu-mobile-item {
  width: 95%;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  margin: 8% 5% 0 3%;
  font-size: 4em;
  color: black;
  padding: 0 8% 2% 5%;
  border-bottom: .01em solid black;
  transition: width 2s;
}

.current-page {
  font-weight: bold;
}

.menu-mobile-item:active {
  font-weight: bold;
}

.show  {
  display:block;
}
