.page-name-box {
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 7.2% 0 2% 0;
  border-bottom: 1em solid #E6E6E6;
  margin: -9% 0 -1.5em 0;
}

.page-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  color: black;
  margin: 0;
}

.grey-bg {
  background-color: #E6E6E6;
}

.project-left {
  margin: 3% auto 3% -4%;
  background-color: white;
}

.project-img-left {
  width: 100%;
  position: relative;
  margin-left: 5.8%;
  float: left;
  border-top: 1em solid white;
  border-bottom: 1em solid white;
}

.project-text-box-left {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin-top: 41%;
}

.project-title-left {
  margin-top: 15%;
}

.project-text-left {
  margin-top: -10%;
}

.project-right {
  position: relative;
  float: right;
  margin: 3% -4% 3% auto;
  background-color: white;
}

.project-text-box-right {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
margin-top: 42%;
}

.project-title-right {
 margin-top: 4%;
}

.project-text-right {
  margin-top: -10%;
}

.project-img-right {
  width: 100%;
  position: relative;
  margin-right: 5.8%;
  float: right;
  border-top: 1em solid white;
  border-bottom: 1em solid white;
}
