@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: #E6E6E6;
    margin: 0;
  }

  .grey-bg {
    margin: 15% 5% 0 5%;
    padding-top: 5%;
    }

  .project-mobile {
    width: 100%;
    position: relative;
    background-color: white;
  }

  .project-img-box-mobile{
    width: 100%;
    position: relative;
    float: right;
  }

  .project-img-mobile {
    border: 1em solid white;
  }

  .project-description-mobile {
    width: 96%;
    margin-left: 2%;
  }

  .project-text-box-mobile {
    width: 80%;
  }

  .project-title-mobile {
    margin: 0;
    font-size: 2.5em;
  }

  .project-text-mobile {
    margin: 0 0 2% 0;
    font-size: 2em;
  }

  .project-git-icon-mobile {
    width: 8%;
    position: relative;
    float: right;
    margin: 0 0 2% auto;
    background-color: white;
  }
}
