.menu {
  margin: 0;
  position: relative;
}

.menu-item {
  text-decoration: none;
  font-size: 1em;
  color: black;
  padding: 7% 2% 0 2%;
  margin-bottom: 0;
}

.page-name-box {
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 5% 0 0 0;
  border-bottom: 1em solid #E6E6E6;
  margin: 0 0 -1.5em 0;
  font-size: 1.8em;
}

.page-name {
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin: 0;
}

.my-logo-bg {
  background: black;
  position: relative;
  float: right;
  margin: 0;
  z-index: 2;
}

.my-logo {
  padding: 18% 0 2% 0;
  color: white;
  text-align: center;
}

.grey-bg {
  background-color: #E6E6E6;
}

.project {
  display: inline-block;
  position: relative;
  margin: 0;
}

.project-text-box {
  margin: 2% 0 1% 1%;
}

.project-title {
  margin: 0;
}

.project-text {
  margin: 0;
  padding: 3% 0;
}
.project-img-box {
  position: relative;
  float: right;
  margin: 0;
}

.project-img {
  width: 100%;
  position: relative;
  float: right;
  border-top: 1em solid white;
  border-left: 1em solid white;
  border-bottom: 1em solid white;
}

.project-git-icon {
  width: 9%;
  position: relative;
  float: right;
  background-color: white;
  border: 1.2em solid white;
}

footer {
  margin: 0;
  padding: 1% 5%;
  position: relative;
  background-color: #E6E6E6;
  z-index: 5;
}
