.menu {
  margin: 5.5% 0 2% 0;
  display: inline-block;
}

.menu-item {
  text-decoration: none;
  font-size: 1em;
  color: black;
  padding: 0 8% 3% 2%;
}

.my-logo-bg {
  background: black;
  border-left: 2em solid white;
  border-bottom: 2em solid white;
  position: relative;
  vertical-align: middle;
  float: right;
}

.my-logo {
  padding: 40% 0 2% 0;
  color: white;
  text-align: center;
}

.grey-bg {
  background-color: #E6E6E6;
}

.project {
  display: inline-block;
  position: relative;
  padding-bottom: 3%;
}

.project-text-box {
  position: absolute;
  bottom: 0;
  margin: auto 0 15% 5%;

  /* Safari */
  -webkit-transform: rotate(-90deg);

/* Firefox */
  -moz-transform: rotate(-90deg);

/* IE */
  -ms-transform: rotate(-90deg);

/* Opera */
  -o-transform: rotate(-90deg);

/* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.project-title {
  margin: 0;
}

.project-text {
  margin: 0;
  padding: 3% 0;
}
.project-img-box {
  position: relative;
  float: right;
  margin: 0 0 1% auto;
}

.project-img {
  width: 100%;
  position: relative;
  float: right;
}

footer {
  margin: 0;
  padding: 1% 5%;
  position: relative;
  background-color: #E6E6E6;
  z-index: 5;
}
