.page-name-box {
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 6.8% 0 2% 0;
  border-bottom: 1em solid #E6E6E6;
  margin: -9% 0 -1.5em 0;
}

.page-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: black;
  margin: 0;
}

.grey-bg {
  background-color: #E6E6E6;
}

.project-left {
  position: relative;
  margin: 3% auto;
  background-color: white;
}

.project-img-box-left{
  position: relative;
  float: right;
}

.project-img-left {
  width: 100%;
  border: 1em solid white;
}

.project-description-left {
 margin-left: 2%;
}

.project-title-left {
 margin: 0;
}

.project-text-left {
 margin: .5% 0 2% 0;
}

.project-git-icon-left {
  width: 5%;
  position: relative;
  float: right;
  margin-right: 4%;
  background-color: white;
}

.project-right {
  position: relative;
  float: right;
  margin: 3% 0;
  background-color: white;
}

.project-img-right {
  width: 100%;
  position: relative;
  border: 1em solid white;
}

.project-description-right {
 margin-left: 2%;
}

.project-title-right {
 margin: 0;
}

.project-text-right {
 margin: .5% 0 2% 0;
}

.project-git-icon-right {
  width: 5%;
  position: relative;
  float: right;
  margin-right: 4%;
  background-color: white;
}
